<html>
<head>
        <link rel = 'stylesheet' href ='/style.css'/>
</head>
<body> 
<div style = "width: 600px; min-height:240px; height:1020px;  background-image: linear-gradient(to right, #f5c7c8, #c2a7d8 50%, #9db5fd);" >
        <div style ="width: 500px; min-height:200px; height:880px; background-color:#F3FBFF; padding:40px 40px 40px 40px; margin:20px 20px 20px 20px; position:absolute;">
<h1 style = "font-size:36px;font-family:Gilmer-Bold;">Hello</h1>
<p style ="font-size:18px; font-family:Gilmer;">Data From form</p>
<hr>
<p> <%=mailData.name%></p>
<p> <%=mailData.email%></p>
<p> <%=mailData.phone%></p>
<p> <%=mailData.description%></p>

<p> <%=mailData.scope%></p>
<hr>
<p style ="font-size:18px; font-family:Gilmer;">Our business representative will contact you as soon as possible.</p>
<p style ="font-size:18px; font-family:Gilmer;">Greetings</a></p>
<p style ="font-size:18px; font-family:Gilmer;">Value Team</p>
</div>
</div>
</body>
</html>